<div class="col-lg-12 mx-auto">
  <fieldset style="border: 1px groove black">
    <legend class="w-auto"> Bộ Lọc</legend>
    <div class="col-lg-6" style="float: left">
      <div class="input-group mb-3">
        <select class="form-control" #nameSearchingSelect>
          <option value="supplierId"> Chưa Có Lựa Chọn</option>
          <option value="supplierId"> Mã Nhà Cung Cấp</option>
          <option value="supplierName"> Tên Nhà Cung Cấp</option>
          <option value="supplierAddress">Địa Chỉ Nhà Cung Cấp</option>
          <option value="supplierPhone">Số Điện Thoại</option>
        </select>
        <input aria-describedby="basic-addon2" class="form-control"
               placeholder=" Bạn Muốn Tìm Kiếm "
               type="text" #valueSearch>

      </div>
    </div>
    <div class="col-lg-6" style="float: left">
      <div class="input-group mb-3">
        <span class="center-s"> Sắp Xếp :</span>
        <select class="form-control" #sort>
          <option value=""> Chưa Có Lựa Chọn</option>
          <option value="supplier_id"> Mã Nhà Cung Cấp</option>
          <option value="supplier_name"> Tên Nhà Cung Cấp</option>
          <option value="supplier_address"> Địa Chỉ Nhà Cung Cấp</option>
          <option value="supplier_phone"> Số Điện Thoại</option>
        </select>
        <button style="float:right;" class="btn btn-primary pd-l" (click)="search(valueSearch)"><i aria-hidden="true"
                                                                                                   class="fa fa-search"></i>
          Lọc kết
          quả
        </button>
      </div>
    </div>
  </fieldset>
</div>

<div class="col-lg-12 mx-auto pd-t">
  <div class="col-lg-12 mx-auto" style="clear: both">
    <div *ngIf="listSupplier == null || listSupplier == undefined || listSupplier.length == 0 ">
      <fieldset style="border: 1px groove black">
        <legend class="w-auto">Hệ thống báo cáo</legend>

        <div class="d-flex justify-content-center my-5">
          <h4 style="font-weight: bold"> KHÔNG CÓ NHÀ CUNG CẤP NÀO CẢ </h4>
        </div>
      </fieldset>
    </div>

    <fieldset style="border: 1px groove black; margin-bottom: 10px"
              *ngIf="listSupplier != null && listSupplier != undefined && listSupplier.length != 0 ">
      <legend class="w-auto">ㅤHệ thống ㅤ</legend>

      <div class="d-flex justify-content-center my-3">
        <h4 style="font-weight: bold"> Thông Tin Nhà Cung Cấp</h4>
      </div>

      <table class="table table-hover table-triped " style="clear: both">
        <tr class="table-success bgr">
          <th>STT</th>
          <th>Tên Nhà Cung Cấp</th>
          <th>Mã Nhà Cung Cấp</th>
          <th> Địa Chỉ</th>
          <th> Số Điện Thoại</th>
          <th>Email</th>
        </tr>
        <tr class="bgr" *ngFor="let item  of listSupplier ; index  as i"
            (click)="chooseSupplier(i, item)"
            [ngStyle]="{'background-color': chosenIndex === i && isChosen && item.supplierId==chooseId ? '#00CCFF' : ''}">
          <td>{{i + 1}}</td>
          <td>{{item.supplierId}}</td>
          <td>{{item.supplierName}}</td>
          <td>{{item.supplierAddress}}</td>
          <td>{{item.supplierPhone}}</td>
          <td>{{item.supplierEmail}}</td>
        </tr>
      </table>
    </fieldset>
    <div>
      <div style="float: left ">
        <button class="btn btn-info  mx-2" type="button">
          <a [routerLink]="['/supplier/detail',idDelete]" style="color: white">
            <i aria-hidden="true" class="fa fa-address-card"></i>Thông Tin Chi Tiết</a>
        </button>
      </div>
      <div id="btn" style="float: right">
        <button class="btn btn-warning">
          <a [routerLink]="['/supplier/edit/',idDelete]" style="color: white">
            <i aria-hidden="true" class="fa fa-pencil"></i>Sửa</a>
        </button>
        <button class="btn btn-danger mx-2" data-target="#staticBackdrop" data-toggle="modal"
                style="color: white">
          <i class="fa-solid fa-circle-xmark"></i> Xoá
        </button>
        <button class="btn btn-success  mx-2">
          <a [routerLink]="['/supplier/create']" style="color: white">
            <i class="fa-solid fa-circle-plus"></i> Thêm
          </a>
        </button>
        <button class="btn btn-secondary  mx-2" style="color: white">
          <i aria-hidden="true" class="fa fa-undo"></i> Trở về
        </button>
      </div>
    </div>
  </div>
  <div class="mx-auto text-center" style="clear: both">
    <nav class="blog-pagination d-flex justify-content-center py-3">
      <ul class="pagination">
        <li class="page-item px-1">
          <a (click)="previousPage()" [class.disabled]="currentPage<=0" class="page-link">Trước</a>
        </li>
        <li class="page-item">
          <a class="page-link">
            <span>{{currentPage + 1}}</span>
            <span>/</span>
            <span>{{totalPages}}</span>
          </a>
        </li>
        <li class="page-item px-1">
          <a class="page-link" (click)="nextPage()" [class.disabled]="currentPage+1>=totalPages">Tiếp </a>
        </li>
      </ul>
    </nav>
  </div>
</div>


<!--modal delete -->

<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel" style="color: red">Hệ Thống Thông Báo </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-body">
          <div *ngIf="idDelete != undefined && idDelete!= null">
            <div style="text-align: center">
              <p>Bạn Chắc Chắn Muốn Xóa
                <b style="color: red ">{{nameDelete}}</b>
              </p>
              <p>Có Mã Là
                <b style="color: red ">{{idDelete}}</b></p> Toàn Bộ Thông Tin Của Nhà Cung Cấp Này Có Thể Sẽ Mất
            </div>
          </div>
          <div *ngIf="idDelete == undefined && idDelete== null">

            <div style="text-align: center">
              <h4>Chưa Chọn Nhà Cung Cấp </h4>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hoàn Tác</button>
        <button *ngIf="idDelete != undefined && idDelete!= null" (click)="confirmDelete()" class="btn btn-danger"
                data-dismiss="modal" type="button">
          Xác Nhận
        </button>
      </div>
    </div>
  </div>
</div>


<!--<div>-->
<!--  <div aria-hidden="true" aria-labelledby="staticBackdropLabel" class="modal fade" data-backdrop="static"-->
<!--       data-keyboard="false"-->
<!--       id="staticBackdrop" tabindex="-1">-->
<!--    <div class="modal-dialog">-->
<!--      <div class="modal-content">-->
<!--        <div class="modal-header">-->
<!--          <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>-->
<!--          <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--            <span aria-hidden="true">&times;</span>-->
<!--          </button>-->
<!--          <div class="modal-body">-->
<!--          <div *ngIf="idDelete!= undefined && idDelete!= null">-->

<!--              <div style="text-align: center">-->
<!--                <p>Bạn Chắc Chắn Muốn Xóa-->
<!--                  <b style="color: red ">{{nameDelete}}</b>-->
<!--                </p>-->
<!--                <p>Có Mã Là-->
<!--                  <b style="color: red ">{{idDelete}}</b></p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div *ngIf="idDelete== undefined && idDelete== null">-->
<!--            <div class="modal-body">-->
<!--              <div style="text-align: center">-->
<!--                <p>Bạn Chắc Chắn Muốn Xóa-->
<!--                  <b style="color: red ">{{nameDelete}}</b>-->
<!--                </p>-->
<!--                <p>Có Mã Là-->
<!--                  <b style="color: red ">{{idDelete}}</b></p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <button type="button" class="btn btn-secondary" data-dismiss="modal">Hoàn Tác</button>-->
<!--          <button (click)="confirmDelete()" class="btn btn-danger" data-dismiss="modal" type="button">-->
<!--            Xác Nhận-->
<!--          </button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

