<h1 style="text-align: center">Thêm Mới Khách Hàng</h1> <br>
<div class="container col-4 shadow-lg">
  <form [formGroup]="createForm" (ngSubmit)="create()">
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <b class="title" class="form-label">Tên khách hàng<span
            style="color: red"> (*) </span></b>
          <input class="form-control" type="text" formControlName="customerName"
                 placeholder="Nhập tên khách hàng">
          <p style="color: red"
             *ngIf="createForm.controls.customerName.hasError('required') && createForm.controls.customerName.touched">
            Không được bỏ trống.</p>
          <p style="color: red"
             *ngIf="createForm.controls.customerName.hasError('pattern') && ('minlength') && createForm.controls.customerName.touched">
            Nhập đúng họ tên và nhiều hơn 2 kí tự (ví dụ : Nguyễn Văn A )</p>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <b class="title" class="form-label">Loại khách hàng<span
            style="color: red"> (*) </span></b>
          <select class="form-control" formControlName="type">
            <option value="">---Vui lòng chọn---</option>
            <option *ngFor="let type of types" [ngValue]="type">{{type.type}}</option>
          </select>
          <p style="color: red"
             *ngIf="createForm.controls.type.hasError('required') && createForm.controls.type.touched">
            Vui lòng không để trống</p>
          <span class="select-arrow"></span>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <b class="title" class="form-label">Email
          <span
            style="color: red"> (*) </span></b>
          <input class="form-control" type="text" placeholder="Nhập email" formControlName="email">
          <p style="color: red"
             *ngIf="createForm.controls.email.hasError('required') && createForm.controls.email.touched">
            Không được bỏ trống.</p>
          <p style="color: red"
             *ngIf="createForm.controls.email.hasError('email') && createForm.controls.email.touched">
            Nhập đúng định dạng email.</p>
        </div>
      </div>

      <div class="col-sm-12">
        <div class="form-group">
          <b class="title" class="form-label">Điện thoại <span
            style="color: red"> (*) </span></b>
          <input class="form-control" type="text" formControlName="phone"
                 placeholder="Nhập số điện thoại">
          <p style="color: red"
             *ngIf="createForm.controls.phone.hasError('required') && createForm.controls.phone.touched">
            Không được bỏ trống.</p>
          <p style="color: red"
             *ngIf="createForm.controls.phone.hasError('pattern') && createForm.controls.phone.touched">
            Số điện thoại phải đúng định dạng gồm 10 số, bắt đầu từ 0.</p>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <b class="title" class="form-label">Ngày sinh<span
            style="color: red"> (*) </span></b>
          <input class="form-control" type="date" formControlName="dateOfBirth">
          <p style="color: red"
             *ngIf="createForm.controls.dateOfBirth.hasError('required') && createForm.controls.dateOfBirth.touched">
            Không được bỏ trống.</p>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-between">
      <div>
      </div>
      <div class="row">
        <div class="col-lg-10"></div>
        <div>
          <button routerLink="/list" class="btn btn-secondary mx-2">
            <i class="fa fa-undo" aria-hidden="true"></i> Trở về
          </button>
        </div>

        <div>
          <button type="submit" class="btn btn-success mx-2 "><i class="fa-solid fa-circle-plus"></i> Thêm</button>
        </div>
      </div>
    </div>
    <br>
  </form>
</div>
