* {
  box-sizing: inherit;
}

html {
  font-size: 13px;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

/* RESPONSIVE */
.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.grid__full-width {
  width: 100%;
}

.grid__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}

/* Test */
.grid__column-2 {
  padding-left: 5px;
  padding-right: 5px;
  width: 16.6667%;
}



.grid__column-10 {
  padding-left: 5px;
  padding-right: 5px;
  width: 83.3334%;
}

/* ANIMATION */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes growth {
  from {
    transform: scale(var(--growth-from));
  }
  to {
    transform: scale(var(--growth-to));
  }
}

/* Button style */


/* SELECTION */
.select-input {
  height: 34px;
  padding: 0 12px;
  border-radius: 2px;
  background-color: var(--white-color);
  min-width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.select-input:hover .select-input__list {
  display: block;
}

.select-input__label {
  font-size: 1.4rem;
  margin-top: 1px;
}

.select-input__icon {
  font-size: 1.4rem;
  color: var(--text-color);
  color: #4a4a4a;
  position: relative;
  top: 1px;
}

.select-input__list {
  position: absolute;
  left: 0;
  right: 0;
  top: 25px;
  border-radius: 2px;
  background-color: var(--white-color);
  padding: 8px 16px;
  list-style: none;
  display: none;
  z-index: 1;
}

.select-input__link {
  font-size: 1.4rem;
  color: var(--text-color);
  text-decoration: none;
  display: block;
  padding: 4px 0px;
}

.select-input__link:hover {
  color: var(--primary-color);
}

/* pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination-item {
  list-style: none;
  margin: 0 12px;
}

.pagination-item--active .pagination-item__link {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.pagination-item--active .pagination-item__link:hover {
  background-color: #d41830;
}

.pagination-item__link {
  --height: 30px;
  display: block;
  text-decoration: none;
  font-size: 2rem;
  color: #939393;
  min-width: 40px;
  height: var(--height);
  line-height: var(--height);
  text-align: center;
  border-radius: 2px;
}

/********HEADER*********/
.header {
  height: 120px;
  background-color: var(--primary-color);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  transform: translateZ(0);
  z-index: 99;
}

.header__navbar {
  display: flex;
  justify-content: space-between;
}

.header__navbar-list {
  list-style: none;
  padding-left: 0;
  margin-top: 4px 0 0;
  display: flex;
  align-items: center;
}

.header__navbar-item {
  margin: 0 8px;
  position: relative;
  min-height: 26px;
}

.header__navbar-user {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header__navbar-user:hover .header__navbar-user-menu {
  display: block;
}

.header__navbar-user-img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.header__navbar-user-name {
  margin-left: 4px;
  font-size: 1rem;
  font-weight: 500;
}

.header__navbar-user-menu {
  position: absolute;
  padding-left: 0;
  top: calc(100% + 8px);
  right: 0;
  background-color: var(--white-color);
  border-radius: 2px;
  width: 160px;
  list-style: none;
  box-shadow: 0 1px 2px #e0e0e0;
  display: none;
  z-index: 1;
}

.header__navbar-user-menu::before {
  content: "";
  border-style: solid;
  border-width: 14px 21px;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: 15px;
  top: -23px;
}

.header__navbar-user-menu::after {
  content: "";
  display: block;
  position: absolute;
  top: -8px;
  right: 0;
  width: 64%;
  height: 8px;
}

.header__navbar-user-item--separate {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.header__navbar-user-item a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1rem;
  padding: 4px 16px;
  display: block;
}

.header__navbar-user-item a:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.header__navbar-user-item a:first-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.header__navbar-user-item a:hover {
  background-color: #fafafa;
  color: #0a55ff;
}

.header__navbar-item--has-qr:hover .header__qr {
  display: block;
}

.header__navbar-item-has-notify:hover .header__notify {
  display: block;
}

.header__navbar-item,
.header__navbar-item-link {
  display: inline-block;
  font-size: 1rem;
  color: var(--white-color);
  text-decoration: none;
}

.header__navbar-item--separate::after {
  content: "";
  display: block;
  position: absolute;
  height: 15px;
  border-left: 1px solid #fb9086;
  top: 50%;
  right: -9px;
  transform: translateY(calc(-80% + 4px));
}

.header__navbar-item,
.header__navbar-icon-link,
.header__navbar-item-link {
  display: flex;
  align-items: center;
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.header__navbar-icon-link {
  color: var(--white-color);
  text-decoration: none;
}

.header__navbar-icon-link:nth-child(2) {
  margin-left: 3px;
}

.header__navbar-icon {
  font-size: 1.5rem;
  margin: 0 3px;
}

.header__navbar-title--no-pointer {
  cursor: text;
  color: var(--white-color);
}

.header__navbar-item--strong {
  font-weight: 600;
}


/* AUTHEN MODAL */
.auth-form {
  width: 500px;
  background-color: var(--white-color);
  border-radius: 5px;
  overflow: hidden;
  /* => Khi con ra vượt quá cha thì ẩn*/
}

.auth-form__container {
  padding: 0 32px;
}

.auth-form__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  margin-top: 12px;
}

.auth-form__heading {
  font-size: 2.2rem;
  font-weight: 800;
  color: var(--text-color);
}

.auth-form__switch-btn {
  font-size: 1.5rem;
  color: var(--primary-color);
  font-weight: 600;
  cursor: pointer;
}

.auth-form__input {
  width: 100%;
  height: 40px;
  margin-bottom: 16px;
  padding: 0 12px;
  font-size: 1.4rem;
  font-weight: 600;
  border: 1px solid var(--border-color);
  border-radius: 2px;
  outline: none;
}

.auth-form__input:focus {
  border-color: #777;
}

.auth-form__aside {
  margin-top: 18px;
  font-weight: 600;
}

.auth-form__policy-text {
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: center;
  padding: 0 12px;
}

.auth-form__text-link {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1.2rem;
}

.auth-form__controls {
  margin-top: 80px;
  display: flex;
  justify-content: flex-end;
}

.auth-form__controls-back {
  margin-right: 8px;
}

.auth-for__socials {
  background-color: #f5f5f5;
  padding: 16px 36px;
  display: flex;
  justify-content: space-between;
  margin-top: 22px;
}

.auth-for__socials-icon {
  font-size: 1.8rem;
}

.auth-for__socials--facebook {
  color: var(--white-color);
  background-color: #3a5a98;
}

.auth-form__socials--title {
  margin: 0 36px;
}

.auth-for__socials--google {
  background-color: var(--white-color);
  color: var(--black-color);
}

.auth-form__help {
  display: flex;
  justify-content: flex-end;
}

.auth-form__help-link {
  text-decoration: none;
  font-size: 1.4rem;
  color: #939393;
}

.auth-form__help-separate {
  margin: 4px 16px 0;
}

.auth-form__help-forgot {
  color: var(--primary-color);
}

/* HEADER AND SEARCH */
.header-with-search {
  height: var(--header-with-search-height);
  display: flex;
  align-items: center;
  padding: 9px 8px 0;
}
.header__logo {
  width: 100% !important;
  flex: 1;
}

.header__logo-link {
  text-decoration: none;
  color: transparent;
}

.header__logo-img {
  max-width: 15%;
  color: var(--white-color);
}

.header__search {
  flex: 1;
  width: 80%;
  height: 40px;
  border-radius: 2px;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
}

.header__cart {
  width: 15%;
  text-align: center;
}
.header__cart-notice {
  position: absolute;
  top: -4px;
  right: -4px;
  padding: 1px 7px;
  line-height: 1rem;
  border-radius: 10px;
  border: 2px solid #0a55ff;
  background-color: var(--white-color);
  color: var(--primary-color);
  font-size: 0.8rem;
}
.header__cart-wrap {
  position: relative;
  display: inline-block;
  padding: 0 12px;
  cursor: pointer;
}

.header__cart-wrap:hover .header__cart-list {
  display: block;
}

.header__cart-icon {
  color: var(--white-color);
  font-size: 1.8rem;
  margin-top: 5px;
}

.header__cart-list {
  position: absolute;
  top: calc(100% + 7px);
  right: 0;
  background-color: var(--white-color);
  width: 400px;
  border-radius: 2px;
  box-shadow: 0 2px 3.125rem 0 rgba(0, 0, 0, 0.2);
  display: none;
  animation: fadeIn ease-in 0.2s;
  cursor: default;
  z-index: 1;
}

.header__cart-list-item {
  padding-left: 0;
  list-style-type: none;
  max-height: 70vh;
  overflow-y: auto;
}

.header__cart-item {
  display: flex;
  align-items: center;
}

.header__cart-item:hover {
  background-color: #f8f8f8;
}

.header__cart-img {
  width: 42px;
  height: 42px;
  margin: 12px;
  border: 1px solid #e8e8e8;
}
.header__cart-heading {
  text-align: left;
  margin: 8px 0 8px 12px;
  font-size: 1rem;
  color: #999;
  font-weight: 400;
}

.header__cart-item-info {
  width: 100%;
  margin-right: 12px;
}
.header__cart-item-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__cart-item-name {
  font-size: 1rem;
  color: var(--text-color);
  margin: 0;
  line-height: 2rem;
  max-height: 4rem;
  overflow: hidden;
  flex: 1;
  padding-right: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-align: left;
  font-weight: 400;
}

.header__cart-item-price {
  font-size: 1rem;
  color: var(--primary-color);
}
.header__cart-item-multiply {
  color: #757575;
  font-size: 1rem;
  margin: 0 0 4px;
}
.header__cart-item-qnt {
  color: #757575;
  font-size: 1.2rem;
}
.header__cart-item-body {
  display: flex;
  justify-content: space-between;
}
.header__cart-item-description {
  color: #757575;
  font-size: 0.8rem;
  margin-top: 5px;
}
.header__cart-item-remove {
  color: var(--text-color);
  font-size: 1.2rem;
  font-weight: 400;
}

.header__cart-item-remove:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.header__cart-list::after {
  content: "";
  position: absolute;
  right: 3px;
  top: -26px;
  border-width: 16px 20px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  cursor: pointer;
}

.header__cart-list--no-cart {
  padding: 24px 0;
}

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header__cart-no-cart-img {
  width: 54%;
  display: none;
}

.header__cart-list-no-cart-msg {
  display: none;
  font-size: 1.4rem;
  margin-top: 16px;
  color: var(--text-color);
}

.header__search-input-wrap {
  flex: 1;
  height: 100%;
  position: relative;
}

.header__cart-view-cart {
  float: right;
  margin: 0 12px 12px 0;
}
.header__search-input {
  flex: 1;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1rem;
  color: var(--text-color);
  padding: 0 16px;
  border-radius: 2px;
}
.header__search-select-label {
  font-size: 1.3rem;
  color: var(--text-color);
}
/*SELECT*/








.header__search-select-icon {
  font-size: 0.8rem;
  color: var(--text-color);
  color: #4a4a4a;
  margin: 0 16px 0 8px;
  position: relative;
  top: 1px;
}

.header__search-select {
  border-left: 1px solid #e8e8e8;
  padding-left: 16px;
  position: relative;
  cursor: pointer;
}

.header__search-select:hover .header__search-option {
  display: block;
}

.header__search-btn {
  background-color: var(--primary-color);
  border: none;
  height: 34px;
  width: 60px;
  border-radius: 2px;
  margin-right: 3px;
  outline: none;
}

.header__search-btn:hover {
  background-color: #0a55ff;
  cursor: pointer;
}

.header__search-btn-icon {
  font-size: 1.2rem;
  color: var(--white-color);
}

.header__search-option {
  position: absolute;
  right: 0;
  top: calc(100% + 4px);
  width: 130px;
  list-style: none;
  box-shadow: 0 1px 2px #e0e0e0;
  /* box-shadow: huongbongdotheotrucx huongbongdotheotrucy domo color; */
  padding-left: 0;
  border-radius: 2px;
  display: none;
  animation: fadeIn ease-in 0.2s;
  z-index: 1;
}

.header__search-option::after {
  content: "";
  height: 20px;
  width: 100%;
  top: -11px;
  left: 0;
  position: absolute;
  /* background-color: red; */
  display: block;
}

.header__search-option-item {
  background-color: var(--white-color);
  padding: 8px 0;
}

.header__search-option-item:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.header__search-option-item:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.header__search-option-item:hover {
  background-color: #fafafa;
  cursor: pointer;
}

.header__search-option-item span {
  font-size: 1.3rem;
  color: var(--text-color);
  margin-left: 8px;
}

.header__search-option-item i {
  font-size: 0.8rem;
  color: var(--primary-color);
  margin-left: 6.5px;
  display: none;
}

.header__search-option-item--active i {
  display: inline-block;
}

input:focus ~ div {
  display: block;
}


/*.select-box select{*/
/*  height: 42px;*/
/*  padding: 10px 15px;*/
/*  line-height: 22px;*/
/*  font-size: 1rem;*/
/*  width: 100%;*/
/*  border: 1px solid var(--primary-color);*/
/*  -webkit-appearance: none;*/
/*  appearance: none;*/
/*}*/

/*.select-box:after{*/
/*  content: "";*/
/*  position: absolute;*/
/*  right: 8px;*/
/*  top: 50%;*/
/*  margin-top:-4px ;*/
/*  border-top: 8px solid var(--primary-color);*/
/*  border-left: 6px solid transparent;*/
/*  border-right: 6px solid transparent;*/
/*  pointer-events: none;*/
/*}*/



* {
  box-sizing: border-box;
}

li{
  font-size: 1rem;
}

p {
  font-size: 1.2vw;
}

::placeholder{
  font-size: calc(12px + 0.390625vw)!important;
}
option[value=lorem] {
  font-size: 2.2vw;
}


li {
  font-size: calc(12px + 0.390625vw)!important;
}

a {
  font-size: calc(12px + 0.390625vw)!important;
}
select{
  font-size: calc(10px + 0.390625vw)!important;
}


