<div class="chatbox-holder"  [hidden]="isClosed">
  <div class="chatbox"  [class.chatbox-min]="!isExpanded">
    <div class="chatbox-top" (click)="toggleExpanded()">
      <div class="chat-partner-name">
        <span class="status online"></span>
        <a>Chat với Phặc Ma Cốt</a>
      </div>
      <div class="chatbox-icons">
        <a>
          <i class="fa-regular fa-window-maximize" [hidden]="isExpanded"></i>
          <i class="fa fa-minus" [hidden]="!isExpanded"></i>
        </a>
        <a (click)="closePanel()"><i class="fa fa-close"></i></a>
      </div>
    </div>

    <div class="login-form" *ngIf="!isLogin, else chatBox">
      <div class="get-user-info w-100 d-flex flex-column">
        <form *ngIf="customerForm" [formGroup]="customerForm" (ngSubmit)="onCustomerFormSubmit()">
          <label><strong>Nhập thông tin của bạn *</strong></label>
          <input formControlName="name" class="form-control mb-1" type="text" placeholder="Nhập tên của bạn">
          <div *ngIf="
              !customerForm.controls.name?.valid
              && (customerForm.controls.name?.dirty ||customerForm.controls.name?.touched)"
               class="text-small text-danger">
            <div [hidden]="!customerForm.controls.name.errors.required">
              Vui lòng không để trống
            </div>
            <div [hidden]="!customerForm.controls.name.errors.pattern">
              Vui lòng nhập tên hợp lệ
            </div>
          </div>
          <input formControlName="phone" class="form-control mb-1" type="text" placeholder="Nhập số điện thoại của bạn">
          <div *ngIf="
              !customerForm.controls.phone?.valid
              && (customerForm.controls.phone?.dirty ||customerForm.controls.phone?.touched)"
               class="text-small text-danger">
            <div [hidden]="!customerForm.controls.phone.errors.required">
              Vui lòng không để trống
            </div>
            <div [hidden]="!customerForm.controls.phone.errors.pattern">
              Vui lòng nhập số điện thoại hợp lệ
            </div>
          </div>
          <label><strong>Tin nhắn *</strong></label>
          <textarea (keyup.enter)="onCustomerFormSubmit()" formControlName="message" class="form-control h-25 mb-1" rows="5"></textarea>
          <div *ngIf="
              !customerForm.controls.message?.valid
              && (customerForm.controls.message?.dirty ||customerForm.controls.message?.touched)"
               class="text-small text-danger">
            <div [hidden]="!customerForm.controls.message.errors.required">
              Vui lòng không để trống
            </div>
          </div>
          <button type="submit" [disabled]="!customerForm.valid" class="btn btn-success submit-button">
            Bắt đầu chat
          </button>
        </form>
      </div>
    </div>
    <ng-template #chatBox>
      <div class="chat-messages" #chatContent [scrollTop]="scrollTop">
        <div class="message-box-holder"
             *ngFor="let chat of chats"
        >
          <div class="d-flex flex-column align-items-end" *ngIf="chat.name === userChat.name; else clientChat">
            <div class="message-you">
              <small>{{chat.createdAt | date: 'short'}} - <strong>You</strong></small>
            </div>
            <div class="message-box">
              {{chat.message}}
            </div>
          </div>

          <ng-template #clientChat>
            <div class="message-sender">
              <small><strong>{{chat.name}}</strong> - {{chat.createdAt | date: 'short'}}</small>
            </div>
            <div class="message-box message-partner">
              {{chat.message}}
            </div>
          </ng-template>
        </div>
      </div>

      <div class="chat-input-holder">
        <form *ngIf="chatForm" [formGroup]="chatForm" (ngSubmit)="onChatSubmit()" class="w-100 row mx-0">
          <textarea (keyup.enter)="onChatSubmit()" formControlName="message" class="chat-input" placeholder="Nhập tin nhắn..."></textarea>
          <button type="submit" value="Send" class="message-send">
            <i role="button" class="fa-solid fa-paper-plane" style="font-size: 1.5rem"></i>
          </button>
        </form>

      </div>
    </ng-template>
  </div>
</div>
