<div class="container mg mx-auto">
  <h3 style="text-align: center"> Thêm Mới Nhà Cung Cấp</h3>

  <div class="col-9  mx-auto  ">

    <form [formGroup]="supplierForm" (ngSubmit)="createSupplier()" novalidate>
      <div class="form-group">
        <b class="form-label">Tên Nhà Cung Cấp<span
          style="color: red"> (*) </span></b>
        <input class="form-control" formControlName="supplierName" placeholder="Nhập Tên :"
               type="text">
        <div *ngIf='!supplierName.valid && (supplierName.dirty ||supplierName.touched||submitted)'>
          <p [hidden]='!supplierName.errors.required' class="text-danger">
            Tên Nhà Cung Cấp Bắt Buộc Phải Có !
          </p>
          <p [hidden]='!supplierName.errors.minlength' class="text-danger">
            Tên Nhà Cung Cấp Quá Ngắn
          </p>
        </div>
      </div>

      <div class="form-group">
        <b class="form-label">Địa Chỉ Nhà Cung Cấp</b>
        <input class="form-control" formControlName="supplierAddress" placeholder="Địa Chỉ : "
               type="text">
      </div>

      <div class="row no-margin">
        <div class="col-sm-6">
          <div class="form-group">
            <b class="form-label">Số Điện Thoại Nhà Cung Cấp <span
              style="color: red"> (*) </span></b>
            <input class="form-control" formControlName="supplierPhone" placeholder="Số Điện Thoại :"
                   type="text">
            <div *ngIf='!supplierPhone.valid && (supplierPhone.dirty ||supplierPhone.touched||submitted)'>
              <p [hidden]='!supplierPhone.errors.required' class="text-danger">
                Số Điện Thoại Không Được Để Trống
              </p>
              <p [hidden]='!supplierPhone.errors.pattern' class="text-danger">
                Không Đúng Định Dạng Của Số Điện Thoại Ex : 090(*******)
              </p>

            </div>
            <p class="text-danger" *ngIf=" supplierForm.get('supplierPhone').hasError('phoneAlreadyExists')">
              Số Điện Thoại Này Đã Tồn Tại
            </p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <b class="form-label">Email Nhà Cung Cấp</b>
            <input class="form-control" formControlName="supplierEmail" placeholder="Nhập Email : "
                   type="email">
            <div *ngIf='!supplierEmail.valid && (supplierEmail.dirty ||supplierEmail.touched||submitted)'>
              <p [hidden]='!supplierEmail.errors.required' class="text-danger">
                Email Không Được Để Trống
              </p>
              <p [hidden]='!supplierEmail.errors.pattern' class="text-danger">
                Không Đúng Định Dạng Của Email
              </p>

            </div>
            <p class="text-danger" *ngIf="supplierForm.get('supplierEmail').hasError('emailAlreadyExists')">
              Email Này Đã Có Người Sữ Dụng
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <b class="form-label">Ghi chú</b>
          <textarea class="form-control" formControlName="note" id="message-text"></textarea>
        </div>
      </div>
      <br>

      <div class=" d-flex justify-content-right " style="float: right">
        <div class="row">
          <div class="m-2">
            <button class="btn btn-secondary mgl">
              <a [routerLink]="['/supplier/']" style="color: white">
                <i aria-hidden="true" class="fa fa-undo"></i> Trở về
              </a>
            </button>
          </div>
          <div class="m-2">
            <button class="btn btn-dark" type="reset">
              <i class="fa-solid fa-arrow-rotate-left"> </i>Làm Mới
            </button>
          </div>
          <div class="m-2">
            <button class="btn btn-success" type="submit">
              <i class="fa-solid fa-circle-plus"></i> Hoàn thành
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
