<header>

  <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarExample01"
        aria-controls="navbarExample01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarExample01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item active">
            <a class="nav-link" aria-current="page" href="#" style="color: aliceblue">
              <i class='bx bx-home'></i>
              <span class="nav_name">Trang chủ</span></a>
          </li>

          <li class="nav-item dropdown">
            <a style="color: aliceblue" class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
              <i class='bx bxs-user nav_icon'></i> Khách hàng
            </a>
            <ul class="dropdown-menu btn btn-muted" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Danh sách</a></li>
              <li><a class="dropdown-item" href="#">Tạo mới</a></li>
              <li><a class="dropdown-item" href="#">Cập nhật</a></li>
            </ul>
          </li>

<!--          <li class="nav-item dropdown">-->
<!--            <a style="color: aliceblue" class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-expanded="false">-->
<!--              <i class='bx bx-user nav_icon'></i> Khác-->
<!--            </a>-->
<!--            <ul class="dropdown-menu btn btn-muted" aria-labelledby="navbarDropdown">-->
<!--              <li><a class="dropdown-item" href="#">Danh sách</a></li>-->
<!--              <li><a class="dropdown-item" href="#">Tạo mới</a></li>-->
<!--              <li><a class="dropdown-item" href="#">Cập nhật</a></li>-->
<!--            </ul>-->
<!--          </li>-->
          <li class="nav-item dropdown">
            <a style="color: aliceblue" class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Khác
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>


        </ul>
      </div>
    </div>
  </nav>

  <div>
    <div class="container">
      <div
        class="p-5 text-center bg-image"
        style="
      background-image:url(https://dynamic-assets.hitachienergy.com/is/image/hitachiabbpowergrids/hitachi-power-grids-econiq-banner-3840x1500:64-18?wid=1440&hei=405&fmt=png-alpha&fit=crop%2C1) ;
      height: 150px;
    "
      >
        <div class="mask">
          <div class="d-flex justify-content-center align-items-center ">
            <div class="text-white">
              <div style="height: 20px"></div>
              <h1 class="mb-3">TOUR</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>

