<h1 class="h1" style="text-align: center">Thêm Mới Khách Hàng</h1> <br>
<div class="container shadow-lg">
  <form [formGroup]="createForm" (ngSubmit)="create()">
    <br>
    <div class="row no-margin">
      <div class="col-sm-12">
        <div class="form-group">
          <b class="title" class="form-label">Tên khách hàng<span
            style="color: red"> (*) </span></b>
          <input class="form-control" type="text" formControlName="customerName"
                 placeholder="Nhập tên khách hàng">
          <p style="color: red"
             *ngIf="createForm.controls.customerName.hasError('required') && createForm.controls.customerName.touched">
            Không được bỏ trống.</p>
          <p style="color: red"
             *ngIf="createForm.controls.customerName.hasError('maxlength') && createForm.controls.customerName.touched">
            Không được quá 20 kí tự.</p>
          <p style="color: red"
             *ngIf="createForm.controls.customerName.hasError('pattern') && ('minlength') && createForm.controls.customerName.touched">
            Nhập đúng họ tên và nhiều hơn 2 kí tự (ví dụ : Nguyễn Văn A )</p>
        </div>
      </div>
    </div>
    <div class="row no-margin">
      <div class="col-sm-6">
        <div class="form-group">
          <b class="title" class="form-label">Nhóm khách hàng <span
            style="color: red"> (*) </span></b>
          <select class="form-control" formControlName="customerType">
            <option value="">Vui lòng chọn</option>
            -->
            <option *ngFor="let type of customerTypeList" [ngValue]="type"
                    [selected]="type.customerTypeName == createForm.controls.customerType.value.customerTypeName">{{type.customerTypeName}}</option>
          </select>
          <p style="color: red"
             *ngIf="createForm.controls.customerType.hasError('required') && createForm.controls.customerType.touched">
            Bắt buộc chọn.</p>
          <span class="select-arrow"></span>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <b class="title" class="form-label">Địa chỉ</b>
          <input class="form-control" type="text" placeholder="Nhập địa chỉ" formControlName="customerAddress">
        </div>
      </div>
    </div>
    <div class="row no-margin">
      <div class="col-sm-6">
        <div class="form-group">
          <b class="title" class="form-label">Điện thoại <span
            style="color: red"> (*) </span></b>
          <input class="form-control" type="number" formControlName="customerPhone"
                 placeholder="Nhập số điện thoại">
          <p style="color: red"
             *ngIf="createForm.controls.customerPhone.hasError('required') && createForm.controls.customerPhone.touched">
            Không được bỏ trống.</p>
          <p style="color: red"
             *ngIf="createForm.controls.customerPhone.hasError('pattern') && createForm.controls.customerPhone.touched">
            Số điện thoại 10 chữ số (ví dụ : 09XXXXXXXX).</p>
          <p style="color: red" *ngIf=" createForm.get('customerPhone').hasError('phoneAlreadyExists')">
            Số điện thoại này đã tồn tại.
          </p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <b class="title" class="form-label">Email</b>
          <input class="form-control" type="email" placeholder="Nhập Email">
        </div>
      </div>
    </div>


    <div class="row no-margin">
      <div class="col-sm-6">
        <div class="form-group">
          <b class="title" class="form-label">Giới tính <span
            style="color: red"> (*) </span></b>
          <div style="margin-top: 7px">
            <div class="form-check form-check-inline">
              <input formControlName="customerGender" class="form-check-input" type="radio" [value]="0">
              <label class="form-check-label">Nam</label>
            </div>
            <div class="form-check form-check-inline">
              <input formControlName="customerGender" class="form-check-input" type="radio" [value]="1">
              <label class="form-check-label">Nữ</label>
            </div>
            <div class="form-check form-check-inline">
              <input formControlName="customerGender" class="form-check-input" type="radio" [value]="2">
              <label class="form-check-label">Giới tính khác</label>
            </div>
          </div>
          <p style="color: red"
             *ngIf="createForm.controls.customerGender.hasError('required') && createForm.controls.customerGender.touched">
            Bắt buộc chọn.</p>
          <span class="select-arrow"></span>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <b class="title" class="form-label">Năm sinh<span
            style="color: red"> (*) </span></b>
          <input class="form-control" type="date" formControlName="customerBirthday" (change)="check()"
                 name="customerBirthday"
                 id="dateOfBirth"
                 placeholder="Nhập tuổi">
          <p style="color: red"
             *ngIf="createForm.controls.customerBirthday.hasError('required') && createForm.controls.customerBirthday.touched">
            Không được bỏ trống.</p>
          <p style="color: red"
             *ngIf="createForm.controls.customerBirthday.errors?.check && createForm.controls.customerBirthday.touched">
            Khách hàng phải trên 18 tuổi.</p>
          <p style="color: red"
             *ngIf="createForm.controls.customerBirthday.errors?.checkAge && createForm.controls.customerBirthday.touched">
            Không được quá 100 tuổi.</p>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-12">
        <b class="title" class="form-label">Ghi chú<span
          style="color: red"> (*) </span></b>
        <textarea formControlName="customerNote" class="form-control" id="message-text"></textarea>
        <p style="color: red"
           *ngIf="createForm.controls.customerNote.hasError('required') && createForm.controls.customerNote.touched">
          Không được bỏ trống.</p>
        <p style="color: red"
           *ngIf="createForm.controls.customerNote.hasError('minlength') && createForm.controls.customerNote.touched">
          Nhập phải nhiều hơn 2 kí tự.</p>
        <p style="color: red"
           *ngIf="createForm.controls.customerNote.hasError('maxlength') && createForm.controls.customerNote.touched">
          Không được quá 50 kí tự.</p>
      </div>
    </div>
    <br>
    <div><b class="title" style="color: red">(*) Thông tin bắt buộc nhập.</b></div>
    <div class="d-flex justify-content-between">
      <div>
      </div>
    <div class="row">
      <div class="col-lg-10"></div>
      <div>
        <button routerLink="/customer/list" class="btn btn-secondary mx-2"><i class="fa fa-undo" aria-hidden="true"></i> Trở về</button>
      </div>
<!--            &nbsp;-->
      <div>
        <button class="btn btn-success mx-2 "><i class="fa-solid fa-circle-plus"></i> Thêm</button>
      </div>
    </div>
    </div>
    <br>
  </form>
</div>

